<ion-header>
	<ion-toolbar>
    	<button ion-button  menuToggle>
	      <ion-icon name="menu" style="font-size: 36px;"></ion-icon>
	    </button>
            <ion-title text-center (click)="home()"
                style="font-size: 36px;
               letter-spacing: 3px;">Riziki
           </ion-title>
    <ion-buttons right padding>
        <button ion-button icon-only >
          <ion-icon name="search" style="font-size: 36px;"></ion-icon>
        </button>
        <button ion-button icon-only >
          <ion-icon name="cart" style="font-size: 36px;"></ion-icon>
        </button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>
<br>
<ion-content padding>



        <button ion-button icon-left block large (click)="shopping()" >
            <ion-icon name="arrow-back" style="font-size: 36px;"></ion-icon>
            back to shopping
        </button>
        <br>
        <br>
        <span style="font-size: 18px; font-style: bold;">Cart subtotal:
                ({{ items }} items)
            </span>
            <span style="font-size: 18px; color: #d50000">{{ total | currency: 'Ksh':true: '3.2-2' }}</span>
            <br>
            <ion-item-divider></ion-item-divider>
            <br>
        <button ion-button  block large (click)="checkout()">Proceed to checkout </button>

    <ion-item-divider></ion-item-divider>

    <h4>Items in my cart</h4>

        <ion-item-group>
            <ion-item-divider></ion-item-divider>
            <ion-item *ngFor="let product of products">
                <div style="float: right">
                    <button type="button" ion-button icon-only small outline (click)="remove(product)">
                        <ion-icon name="close"></ion-icon>
                    </button>
                </div>
                <div style="padding: 20px;">
                <div style="float: left; margin-right: 20px;">
                    <ion-thumbnail>
                    <img src="{{ product.photo }}" >
                </ion-thumbnail>
                </div>
                <div>
                    <h2>{{ product.name }}</h2>

                    <h1 style="color: #d50000;">Ksh{{ product.price }}</h1>
                    <br>
                </div>
            </div>
                <div>
                    <div style="float: left; padding: 10px;">
                  <!--  <button ion-button icon-only style="width: 40px; height: 40px;"
										>
                        <ion-icon name="add"></ion-icon>
                    </button> -->

                    <input [(ngModel)]="product.qtty"
                    style="width: 40px; height: 40px; text-align: center;
                           border-style:solid;
                            border-radius: 2px;
														border-color: #000;
                            border-width: 2px;
                            font-size: 20px; " />
                    <!-- <button ion-button icon-only style="width: 40px; height: 40px;">
                        <ion-icon name="remove" style="font-size: 36px;"></ion-icon>
                    </button> -->
                </div>
                    <div>
                        <h2>Item total</h2>
                        <h1 style="color: #d50000; ">Ksh. {{ product.qtty *
                            product.price  }}.00</h1>
                    </div>
                </div>
            </ion-item>
            <ion-item-divider></ion-item-divider>
        </ion-item-group>


            <div style="padding-top: 20px">

                <span style="font-size: 22px"> Cart Subtotal: </span>
                <span style="font-size: 24px; color: #d50000">
                    {{ total | currency: 'Ksh':true: '2.2-2' }}
                </span>

            </div>
            <br>
            <button ion-button  block large (click)="checkout()">Proceed to checkout </button>


        <ion-item-divider></ion-item-divider>


        <h1> Customers also purchased.. </h1>
              <!--  <ion-grid>
                        <ion-row>
                            <ion-col col-6 *ngFor="let product of promos">
                                <ion-card>
                                    <img src="{{ product.link }}"
                                    style="width: 120px; height: 150px">
                                    <ion-card-content>
                                        <ion-card-title>
                                            <p class="md-body-1">{{ product.name }}</p>
                                        </ion-card-title>
                                    </ion-card-content>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid> -->
                <button ion-button  block large (click)="shopping()">back to shopping</button>
                    <ion-item-divider></ion-item-divider>
                    <div style="text-align: center">
                        <p class="md-title">How can we help?</p>
                    <p class="md-body-1">0736-400-044 | customerservice@riziki.com</p>

                        <ion-item-divider></ion-item-divider>

                            <p class="md-title">Riziki App</p>
                    </div>
</ion-content>
